*
{
margin:0px;
padding:0px;
}
body 
  {
    display:grid;
    place-items:center;
    place-content:center;
    min-height:100vh;
   }


h1
  {
    color:violet;
    text-align: center;
    font-size: 60px;
  }
  
.container

{
height: 500px;
border:2px solid violet;
display:grid;
/*grid-template-columns: [first]50px  [line2]auto [line3]auto [line4]50px;*/
grid-template-columns: repeat(3,1fr);
grid-template-rows: [row1-start]15% [row2-start] auto [row3-start]auto [row4-start]10%;
grid-template-areas: 'hd hd hd hd'
                     'sd art art art'
                     'foo foo foo foo';
                    font-size: 30px;
                    color:rgba(30, 21, 2, 0.973);
                    font-style: italic;
                    font-weight: bold;
justify-items: stretch;/*default  value*/
align-items: stretch;
justify-content: stretch;
/*grid-auto-columns: 100 px;*/
margin-bottom: 30px;
overflow:scroll;

}


nav,footer,article,aside 
{
    border:2px solid gray;
    display: flex;
    align-items: center;
    justify-content:center;
    grid-row-start: span row4-start;
    grid-row-end:5;
    
}

nav{
   /* grid-column-start: 1;
    grid-column-end: 5;*/
    grid-column: 1 / 4;
    grid-row-start: 1;
    grid-row-end: 2;
    background:linear-gradient(150deg, rgb(231, 133, 207),white);
    grid-area: hd;

}
nav ul {
    margin: 0;
    padding: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
}

nav ul li 
{      
    justify-content:space-between;
    list-style-type: none;
    flex:  auto;
    background-color: white;
    display:inline-block;
    padding:10px;
    cursor: pointer;
    text-align:center;
    border-right: 2px solid pink;


}

nav ul li:last-of-type {
    border-right: none;;
}
nav ul li:hover {
    background:repeating-linear-gradient(45deg,gray,pink 30px);
    color:#fff;
}

aside {
  
    grid-area: sd;
    grid-row: 2 / 4;
    background:linear-gradient(150deg, rgb(221, 61, 114),white);

}
article 
    {
    grid-area:art;
    grid-row: 2 / 5;
    background:linear-gradient(150deg, rgb(241, 26, 141),rgba(255, 255, 255, 0.517));
     }

footer{
    grid-area: foo;
    grid-row-start: 4;
    grid-row-end: 5;
   /* grid-column: 8 / 9;*/
    background:linear-gradient(150deg, rgb(126, 188, 209),white);

}

